![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [1]:
ejer_1 = [1,2,3,4,5]
ejer_1.reverse()
print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [3]:
ejer_2 = [1,2,3,4,5]
for i, value in enumerate(ejer_2):
    ejer_2[i] = value ** 2

print(ejer_2)

[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [4]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]
result = []
for x, value_3_1 in enumerate(ejer_3_1):
    for y, value_3_2 in enumerate(ejer_3_2):
        result.append(f'{value_3_1} {value_3_2}')
        
print(result)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [6]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
ejer_4[ejer_4.index(45)] = 0
print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [15]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
while True:
    try:
        ejer_5.remove(3)
    except ValueError:
        break

print(ejer_5)

[20, 47, 19, 29, 45, 67, 78, 90]

# Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [150]:
tupla_6_1 = ("elem_1_1", "elem_1_2", "elem_1_3")
print('1) ', tupla_6_1)
tupla_6_2 = ("elem_2_1",)
print('2) ', type(tupla_6_2))


tupla_6_3 = ("elem_3_1", 2, 3.0, ["elem_1_lista", "elem_2_lista", "elem_3_lista"])
print('3) ', tupla_6_3)
print('4) ',tupla_6_3[0], ',', tupla_6_3[len(tupla_6_3)-1])

tupla_6_5 = list(tupla_6_3)
tupla_6_5.append("Nuevo_elem_1") 
tupla_6_5 = tuple(tupla_6_5)
print('5) ', tupla_6_5)

tupla_6_6 = list(tupla_6_5)
tupla_6_6.pop(int(len(tupla_6_6)/2))
print('6) ', tupla_6_6)

lista_6_7 = list(tupla_6_5)
print('7) ', lista_6_7)

1)  ('elem_1_1', 'elem_1_2', 'elem_1_3')
2)  <class 'tuple'>
3)  ('elem_3_1', 2, 3.0, ['elem_1_lista', 'elem_2_lista', 'elem_3_lista'])
4)  elem_3_1 , ['elem_1_lista', 'elem_2_lista', 'elem_3_lista']
5)  ('elem_3_1', 2, 3.0, ['elem_1_lista', 'elem_2_lista', 'elem_3_lista'], 'Nuevo_elem_1')
6)  ['elem_3_1', 2, ['elem_1_lista', 'elem_2_lista', 'elem_3_lista'], 'Nuevo_elem_1']
7)  ['elem_3_1', 2, 3.0, ['elem_1_lista', 'elem_2_lista', 'elem_3_lista'], 'Nuevo_elem_1']

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [75]:
ejer_7 = ("cien", "cañones", "por", "banda")
result = " ".join(ejer_7)    
print(result)

cien cañones por banda

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [76]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)
print(ejer_8[2], ejer_8[-3])

3 90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [81]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

print('1) ', ejer_9.count(3) )

ejer_9_2 = ejer_9[4: 10]
print('2) ', ejer_9_2)
print('3) ', len(ejer_9) )

1)  7
2)  (19, 3, 29, 45, 67, 78)
3)  26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [85]:
print('1) ', "60 no incluido" if not bool(ejer_9.count(60) ) else "60 incluido")

1)  60 no incluido

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [89]:
lista_11 = list(ejer_9)
set_11 = set(ejer_9)
dict_11 = dict((key, value) for key, value in enumerate(ejer_9))



print('1) ', lista_11 )
print('2) ', set_11 )
print('3) ', dict_11 )

1)  [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]
2)  {2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}
3)  {0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente tupla en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [130]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
dict_12 = {}
for key, value in ejer_12:
    dict_12[key] = value
print(dict_12)

{'x': 3, 'y': 2, 'z': 1}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [126]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}
list_13_asc = list(ejer_13)
list_13_asc.reverse()
print('1) ', list_13_asc )

list_13_desc = list(ejer_13.values())
print('2) ', list_13_desc )

ejer_13[3] = 103
print('3) ', ejer_13 )

print('4) ', "Clave 2 existe" if 2 in ejer_13 else "Clave 2 no existe")
print('5)')
for key, value in ejer_13.items():
    print(f'{key} : {value}')

1)  [5, 8, 2, 4]
2)  [78, 98, 234, 29]
3)  {4: 78, 2: 98, 8: 234, 5: 29, 3: 103}
4)  Clave 2 existe
5)
4 : 78
2 : 98
8 : 234
5 : 29
3 : 103

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [131]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}
ejer_14_1.update(ejer_14_2)
print(ejer_14_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [135]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
ejer_15_list = list(ejer_15.values())
print(sum(ejer_15_list))

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [141]:
import math
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
ejer_16_list = list(ejer_16.values())
result = 1
for i in ejer_16_list:
    result *= i
print(result)

19326120

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [148]:
set_17_1 = {4, 3, 2}
print('1) ', set_17_1 )

set_17_1.add(1)
print('2) ', set_17_1 )

set_17_1.remove(1)
print('3) ', set_17_1 )

set_17_1.discard(10)
print('4) ', set_17_1 )

1)  {2, 3, 4}
2)  {1, 2, 3, 4}
3)  {2, 3, 4}
4)  {2, 3, 4}