In [1]:
import sqlite3
import pandas as pd

In [2]:
con = sqlite3.connect('prueba_tecnica.db')

In [3]:
# dfs = pd.read_excel('dataset_pruebaTecnica___.xlsx', sheet_name = None)

In [4]:
# dfs.keys()

In [5]:
#for nombre, df in dfs.items():
#    df.to_sql(nombre, con)

In [6]:
# dfs['client_dim'].to_sql('client_dim', con)

In [7]:
# dfs['contract_dim'].to_sql('contract_dim', con)

In [8]:
# dfs['tickets_ft'].to_sql('tickets_ft', con)

![alt text](esquema_dataset.png "Esquema tablas dataset_holaluz")

In [ ]:
pd.read_sql("SELECT 'index', client_id, cl_web_id, cl_name, email FROM client_dim;", con)

,'index',client_id,cl_web_id,cl_name,email
0,index,16,7b26c53b-b2b8-4a54-a760-faea3fe64f27,client1,email36@gmail.com
1,index,17,4794ce00-5a71-486a-b59a-89b628bd7597,client2,email440@gmail.com
2,index,18,0e22b5d7-99fa-40f1-bc0a-2dde670c5f7a,client3,email688@gmail.com
3,index,19,,client4,email745@gmail.com
4,index,20,,client5,email223@gmail.com
...,...,...,...,...,...
987,index,1142,f4de1d9b-9a07-42cb-b8be-193586f62397,client988,email82@gmail.com
988,index,1143,c9cde543-a744-4b22-ac13-a8268fdcf58c,client989,email84@gmail.com
989,index,1144,6152427e-eb6d-4dca-8f69-4164fda3a4da,client990,email366@gmail.com
990,index,1145,22d4cbc5-e8c8-4235-8daa-f1aede68dec7,client991,email995@gmail.com
991,index,1146,cc230971-97c8-4407-8633-518df1ed58f1,client992,email18@gmail.com

1) Cuántos clientes con estado ‘Alta’ tenemos con cada tarifa y producto.

In [18]:
pd.read_sql("""
SELECT  co.contract_tariff, co.contract_product, count(*) AS 'Num Clientes'
  FROM contract_dim co
  JOIN client_dim cl ON cl.client_id == co.client_id
  WHERE co_status == 'Alta'
  GROUP BY co.contract_tariff, co.contract_product
  ORDER BY co.contract_tariff, co.contract_product ASC;
""",con)

   contract_tariff contract_product  Num Clientes
0             2.0A          Clásico           152
1             2.0A    Sin Sorpresas            73
2             2.0A     Tarifa Justa            29
3           2.0DHA          Clásico           334
4           2.0DHA    Sin Sorpresas           163
5           2.0DHA     Tarifa Justa            91
6             2.1A          Clásico           115
7             2.1A    Sin Sorpresas            62
8             2.1A     Tarifa Justa            36
9             3.0A          Clásico           147
10            3.0A    Sin Sorpresas            72
11            3.0A     Tarifa Justa            54

2) Cuántos clientes en estado Alta tienen o han tenido una incidencia.

In [19]:
pd.read_sql("""
SELECT  count(DISTINCT co.client_id) AS 'Num Clientes con incidencias'
  FROM contract_dim co 
  WHERE co.co_status == 'Alta' AND co.client_id in (SELECT DISTINCT client_id
  FROM tickets_ft) ;
""",con)

   Num Clientes con incidencias
0                           227

3) Una lista de los client_id y el número de incidencias abiertas de los clientes que tengan
más de 2 incidencias con estado ‘Abierta’.

4) Una lista de todos los clientes (client_id) con su número de incidencias total y el número
de incidencias dividido el tiempo que lleva activo el cliente con Holaluz (incidencias por
mes).